.tSelection-container {
    width: 100%;
    min-height: 100px;
    margin-top: 30px;
    justify-content: space-evenly;
    display: flex;
}

:root {
    --backgroundColor: #1a1a1a;
    --textColor: white;
    --headerColor: #044563;
    --sidebarColor: #032d40
}

.tSelection-textureName {
    width: 210px;
    text-align: center;
    color: var(--textColor);
    font-family: 'poppins', sans-serif;
    font-size: 40px;
}

.tSelection-ImageContainer {
    width: 210px;
    height: 210px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

#tSelection-blocks {
    background-image: url(../assets/Grass_Block.png);
}

#tSelection-items {
    background-image: url(../assets/diamond_sword.png);
}

#tSelection-entity {
    background-image: url(../assets/creeper.png);
}

#tSelection-environment {
    background-image: url(../assets/sky.png);
}

#tSelection-gui {
    background-image: url(../assets/Inventory.png);
}

#tSelection-others {
    background-image: url(../assets/potion.png);
}

.tSelection-sidebar {
    min-height: calc(100vh - 150px);
    width: 200px;
    background-color: var(--sidebarColor);
    overflow-wrap: break-word;
    z-index: 1;
}

.chest {
    width: 40px;
    height: 40px;
    background-image: url(../assets/enderchest.png);
    background-position: center;
    background-size: cover;
}

.chest-open {
    width: 40px;
    height: 40px;
    background-image: url(../assets/enderchest-opened.png);
    background-position: center;
    background-size: cover;
}

.custom-blockPreview {
    width: 400px;
    height: 400px;
    background-color: #121212;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-selection {
    width: 100%;
    min-height: calc(100vh - 190px);
    color: white;
    font-family: 'poppins', sans-serif;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    font-size: 20px;
}

.custom-dir::before {
    content: ' ';
    background: url(../assets/enderchest.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.custom-item {
    cursor: pointer;
}

.files-closed {
    width: 100%;
    min-height: 100px;
    background-color: red;
    display: none;
}

#files-open {
    width: 100%;
    min-height: 100px;
    background-color: red;
}

.custom-item:hover {
    background-color: rgba(0, 0, 0, 0.2)
}